.layout {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.aurora-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
}

.layout-content {
  position: relative;
  z-index: 1;
  width: 100%;
  padding-top: 0;
}

/* Admin layout doesn't need padding-top since it doesn't have navbar */
.layout.admin-layout .layout-content {
  padding-top: 0;
}

